{% include './base_images/alpine.latest.j2' %}

{% include './modules/alpine/base.j2' %}

WORKDIR /tmp

{% include './modules/alpine/aws.j2' %}
{% include './modules/alpine/aws-sam.j2' %}
{% include './modules/alpine/terraform.j2' %}
{% include './modules/alpine/vault.j2' %}
{% include './modules/alpine/ansible.j2' %}
{% include './modules/alpine/ghcli.j2' %}

{% include './modules/alpine/footer.j2' %}