{% include './base_images/docker.dind.j2' %}

{% include './modules/alpine/base.j2' %}

{% include './modules/alpine/kubectl.j2' %}
{% include './modules/alpine/helm.j2' %}
{% include './modules/alpine/kind.j2' %}

{% include './modules/alpine/footer.j2' %}